# DFK crontab (Mac)
# see also Launchd scripts

# Basic environment variables
HOME=/Users/dfk
SHELL=/bin/bash
PATH=/usr/local/bin:/usr/bin:/bin:/Users/dfk/scripts/common:/Users/dfk/scripts/mac
TERM=VT100

# Mail-related variables
MAILTO=dfk
MAILFROM=dfk

# don't forget my crontab
# mm hh day month weekday command
0 7 * * * cd $HOME/lib/mac && crontab -l > crontab && git-commit-quietly "crontab" crontab

# don't forget my hosts file
# mm hh day month weekday command
4 7 * * * cd $HOME/lib/mac && cat /etc/hosts > etc-hosts && git-commit-quietly "crontab" etc-hosts

# track what I have installed with homebrew
# mm hh day month weekday command
8 7 * * * cd $HOME/lib/mac && brew ls > brew-list && git-commit-quietly "crontab" brew-list

# pull any changes to lib, dot, scripts
# mm hh day month weekday command
0 9 * * *   cd projects/kotz-bin-lib && git pull --quiet

# show me what files are left uncommitted
# mm hh day month weekday command
2 9 * * *   git-to-commit projects/* 
# 4 9 * * *   svn-to-commit projects/* 
# 6 9 * * * cvs-to-commit projects/*

# warn me if there are any changes to published research bibs,
# that may require me to update the respective index.htmltop
# mm hh day month weekday command
0 10 * * 7 cd $HOME/projects/web && git diff tags/research research/project*/kotz-project-*.bib

# CHUBBERS - monthly mailing to ChubberNet
# mm hh day month weekday command
01 00 1 * * echo "REVIEW CHUBBERS-ALUM (NOH ALL" | mutt listserv@listserv.dartmouth.edu
