# DFK crontab (Mac)
# Basic environment variables
HOME=/Users/dfk
SHELL=/bin/bash
PATH=/usr/local/bin:/usr/bin:/bin:/Users/dfk/scripts/common:/Users/dfk/scripts/mac
TERM=VT100

# Mail-related variables
MAILTO=dfk
MAILFROM=dfk
DAVE=dfkotz@mac.com
PAM=pcjenkins@mac.com
JOHN=john.lyme@mac.com
MARA=mara.lyme@mac.com
ANDY=andy.lyme@mac.com
ISABEL=isabel_eich@hotmail.com
DAD=johnkotz@mac.com
MOM=katiekotz@icloud.com
AMY=aejenkins1263@gmail.com
KIDS=john.lyme@mac.com mara.lyme@mac.com andy.lyme@mac.com 

# don't forget my crontab
# mm hh day month weekday command
0 7 * * * cd $HOME/lib/mac && crontab -l > crontab && git-commit-quietly "crontab" crontab

# don't forget my hosts file
# mm hh day month weekday command
4 7 * * * cd $HOME/lib/mac && cat /etc/hosts > etc-hosts && git-commit-quietly "crontab" etc-hosts

# track what I have installed with homebrew
# mm hh day month weekday command
8 7 * * * cd $HOME/lib/mac && brew ls > brew-list && git-commit-quietly "crontab" brew-list

# pull any changes to lib, dot, scripts
# mm hh day month weekday command
0 9 * * *   cd projects/kotz-bin-lib && git pull --quiet

# show me what files are left uncommitted
# mm hh day month weekday command
2 9 * * *   git-to-commit projects/* 
4 9 * * *   svn-to-commit projects/* 
# 6 9 * * * cvs-to-commit projects/*

# warn me if there are any changes to published research bibs,
# that may require me to update the respective index.htmltop
# mm hh day month weekday command
0 10 * * * cd $HOME/projects/web && git diff tags/research research/project*/kotz-project-*.bib

# COMICS
# send me the daily comic strips (timed for morning delivery)
# mm hh day month weekday command
0 7 * * * comic-arcamax doonesbury $DAVE  $DAD $MOM
2 7 * * * comic-arcamax babyblues  $DAVE
4 7 * * * comic-fbfw               $DAVE  

# CALENDAR
# send the Kotz daily calendar
# mm hh day month weekday command
  01  7 * * * daily-calendar $DAVE
  02  8 * * * daily-calendar $ANDY
  03  8 * * * daily-calendar $PAM
  04  7 * * * daily-calendar $DAD $MOM
  05  7 * * * daily-calendar $AMY
  06  8 * * * daily-calendar $MARA
  07  8 * * * daily-calendar $ISABEL
  08 11 * * * daily-calendar $JOHN

# CHUBBERS
# mm hh day month weekday command
# monthly mailing to ChubberNet
01 00 1 * * echo "REVIEW CHUBBERS-ALUM (NOH ALL" | mutt listserv@listserv.dartmouth.edu
