# DFK crontab (laptop)

# Basic environment variables
HOME=/Users/dfk
SHELL=/bin/bash
PATH=/usr/local/bin:/usr/bin:/bin:/Users/dfk/scripts/common:/Users/dfk/scripts/mac
TERM=VT100

# Mail-related variables
MAILTO=dfk
MAILFROM=dfk

# pull any changes to lib, dot, scripts
# mm hh day month weekday command
0 7 * * *   cd projects/kotz-bin-lib && git pull --quiet

# don't forget my crontab
# mm hh day month weekday command
2 7 * * * cd $HOME/lib/laptop && crontab -l > crontab && git-commit-quietly "crontab commit" crontab

# don't forget my hosts file
# mm hh day month weekday command
4 7 * * * cd $HOME/lib/laptop && cat /etc/hosts > etc-hosts && git-commit-quietly "crontab commit" etc-hosts

# don't forget my launchd files
# mm hh day month weekday command
6 7 * * * cd $HOME/lib/laptop && rsync -a ~/Library/LaunchAgents/org.davidkotz.*.plist . && git-commit-quietly "crontab commit" *.plist

# track what I have installed with homebrew
# mm hh day month weekday command
8 7 * * * cd $HOME/lib/laptop && brew list --formula > brew-list && git-commit-quietly "crontab commit" brew-list

# show me what files are left uncommitted
# mm hh day month weekday command
2 9 * * *   git-to-commit projects/* projects/crawdad/* projects/cs50/*
# 4 9 * * * svn-to-commit projects/* 
# 6 9 * * * cvs-to-commit projects/*

# warn me if there are any changes to published research bibs,
# that may require me to update the respective index.htmltop
# mm hh day month weekday command
0 10 * * 7 cd $HOME/projects/web && git diff tags/research research/project*/kotz-project-*.bib

# CHUBBERS - monthly mailing to ChubberNet
# mm hh day month weekday command
01 00 1 * * echo "REVIEW CHUBBERS-ALUM (NOH ALL" | mutt listserv@listserv.dartmouth.edu
