# DFK crontab (laptop)

# Basic environment variables
HOME=/Users/dfk
SHELL=/bin/bash
PATH=/usr/local/bin:/usr/bin:/bin:/Users/dfk/scripts/common:/Users/dfk/scripts/mac
TERM=VT100

# Mail-related variables
MAILTO=dfk
MAILFROM=dfk

# don't forget my crontab, hosts file, homebrew installs, launchd files; commit to git
# mm hh day month weekday command
00 7 * * * cd $HOME/lib/laptop && crontab -l > crontab
00 7 * * * cd $HOME/lib/laptop && cat /etc/hosts > etc-hosts
00 7 * * * cd $HOME/lib/laptop && brew list --formula > brew-list
00 7 * * * cd $HOME/lib/laptop && /usr/local/bin/pip3 list > pip-list
00 7 * * * cd $HOME/lib/laptop && rsync -a ~/Library/LaunchAgents/org.davidkotz.*.plist .
10 7 * * * cd $HOME/lib/laptop && git-commit-quietly "crontab commit" crontab etc-hosts brew-list pip-list *.plist

# show me what files are left uncommitted
# mm hh day month weekday command
2 9 * * *   git-to-commit projects/* projects/crawdad/* projects/cs50/*
# 4 9 * * * svn-to-commit projects/* 
# 6 9 * * * cvs-to-commit projects/*

# warn me if there are any changes to published research bibs,
# that may require me to update the respective index.htmltop
# mm hh day month weekday command
0 10 * * 7 cd $HOME/projects/web && git diff tags/research research/project*/kotz-project-*.bib

# CHUBBERS - monthly mailing to ChubberNet
# mm hh day month weekday command
01 00 1 * * echo "REVIEW CHUBBERS-ALUM (NOH ALL" | mutt listserv@listserv.dartmouth.edu

####### experimental: download and backup the host and subnet files from ITC
JOB=/Users/dfk/projects/wifi-collect/cronjobs

# snag a copy of the latest network structure once a day
31 06 * * * $JOB/update-info 'ftp://ftplocal.dartmouth.edu/networks/networks-report' $HOME/campus subnets
33 06 * * * $JOB/update-info 'ftp://ftplocal.dartmouth.edu/networks/hosts-report' $HOME/campus hosts

# backup data to central archive
40 06 * * * $JOB/backup-laptop-to-jumbo
