# DFK crontab for old laptop (Kotzbook22b)

# Basic environment variables
HOME=/Users/dfk
SHELL=/bin/bash
PATH=/usr/local/bin:/usr/bin:/bin:/Users/dfk/scripts/common:/Users/dfk/scripts/mac
TERM=VT100

# Mail-related variables
MAILTO=dfk
MAILFROM=dfk
