# DFK crontab (cronserver)

# Basic environment variables
HOME=/home/dfk
SHELL=/bin/bash
PATH=/usr/local/bin:/usr/bin:/bin:/home/dfk/scripts/common:/home/dfk/scripts/mac
TERM=VT100

# Mail-related variables
MAILTO=dfkotz@mac.com
MAILFROM=info@davidkotz.org

# where to stash copies of system config files
CONFIG=/home/dfk/lib/config/kotz-cronserver

# fetch the latest lib, dot files, scripts, every night
30 00 * * * cd projects/kotz-bin-lib && git pull -q

# don't forget my crontab, hosts file, homebrew installs, launchd files;
# commit to git.
# mm hh day month weekday command
00 7 * * * cd $CONFIG && crontab -l > crontab
00 7 * * * cd $CONFIG && cat /etc/hosts > etc-hosts
00 7 * * * cd $CONFIG && cat /etc/postfix/main.cf > etc-main.cf
10 7 * * * cd $CONFIG && git-commit-quietly "crontab commit" crontab etc-hosts etc-main.cf

# update bibliography repos
# (won't work without setting up python venv for outdated Mendeley package)
# 20 8 * * * daily-biblio.sh

# send the daily comics and calendar emails
00 9 * * * daily-email.sh
